@import "base";

#content {
	.todo-app {
		margin: 50px auto;
		width: 500px;
		padding: 40px;
		box-shadow: 0px 0px 3px 3px gray;
		& > div {
			h1 {
				font-weight: bold;
				font-size: 70px;
				text-align: center;
				margin-bottom: 30px;
			}
			.category-label {
				padding-top: 15px;
			}
			.todo-form {
				margin-bottom: 10px;
				form {
					label input {
						width: 30%;
						padding: 8px;
						border: 1px solid lightgray;
						margin-right: 7%;
						&:focus {
							border: 1px solid black;
						}
					}
					button {
						float: right;
						border: 1px solid black;
						background-color: black;
						color: white;
						padding: 7px;
						border-radius: 4px;
						box-shadow: -2px 2px 2px 0px black;
						&:hover {
							cursor: pointer;
							color: $base-green;
						}
					}
				}
			}
			.todo-container {
				.todo-item {
					position: relative;
					margin-bottom: 5px;
					padding: 10px;
					border: 1px solid black;
					& > input {
						position: absolute;
						left: -20px;
						top: 50%;
						transform: translateY(-50%);
					}
					&.checked {
						.todo-info {
							opacity: 0.5;
							text-decoration: line-through;
						}
					}
					.todo-info {
						h3 {
							font-weight: bold;
							display: inline-block;
							font-size: 30px;
							& > * {
								display: inline-block;
							}
							& > div {
								margin-left: 5px;
								font-size: 12px;
								font-weight: initial;
							}
						}
						&:hover {
							cursor: pointer;
						}
						&:hover + .todo-close {
							display: block;
						}
					}
					.todo-close {
						position: absolute;
						right: 9px;
						top: 9px;
						display: none;
						&:hover {
							cursor: pointer;
							display: block;
						}
					}
					.steps-container {
						display: none;
						border-top: 1px solid lightgray;
						margin-top: 10px;
						&.active {
							display: block;
						}
						.step-form {
							input {
								margin-top: 10px;
								border: 1px solid lightgray;
								padding: 5px;
								width: 97.5%;
								&:focus {
									border: 1px solid black;
								}
							}
						}
						.step-item {
							border-bottom: 1px solid lightgray;
							padding: 3px;
							& > input {
								margin-right: 5px;
							}
							&:hover .step-close {
								display: block;
							}
							.step-close {
								float: right;
								display: none;
								&:hover {
									cursor: pointer;
								}
							}
						}
					}
				}
			}
		}
	}
}