@import "base";

#content {
	.todo-app {
		margin: 50px auto;
		width: 500px;
		& > div {
			h1 {
				font-weight: bold;
				font-size: 50px;
				text-align: center;
				margin-bottom: 30px;
			}
			.todo-form {
				margin-bottom: 10px;
			}
			.todo-container {
				.todo-item {
					position: relative;
					& > input {
						position: absolute;
						left: -20px;
						top: 13px;
					}
					&.checked {
						.todo-info {
							background-color: $base-green;
							opacity: 0.7;
						}
						.step-item {
							text-decoration: line-through;
						}
					}
					.todo-info {
						border: 1px solid black;
						h3 {
							font-weight: bold;
						}
					}
					.todo-close {
						position: absolute;
						right: 9px;
						top: 9px;
						&:hover {
							cursor: pointer;
						}
					}
					.steps-container {
						.step-form {
							border: 1px solid lightgray;
						}
						.step-item {
							border-bottom: 1px solid lightgray;
							& > input {
								margin-right: 5px;
							}
							&.checked {
								text-decoration: line-through;
								background-color: $base-green;
								opacity: 0.7;
							}
						}
					}
				}
			}
		}
	}
}